.container{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   border: 1px solid #ccc;
   justify-content: space-between;
}
.b1{
    border:1px  solid #000;
    padding: 10px;
    margin-right: 10px;
    flex:1;
}
.b2{
     border:1px  solid #ff0000;
     padding: 10px;
     margin-right: 10px;
     flex:1;
}
.b3{
    border:1px  solid #26ff00;
    padding: 10px;
    margin-right: 10px;
    flex:1;
}
