html,body{
  height: 100%;
  margin: 0;
  padding:0;
}
.container{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}

.heading{
  height:10vh;
  text-align: center;
  background-color:#c9d91d;
  padding:20px;
  border-radius: 50px;
}


.Main{
  padding:20px;
  height:60vh;
  text-align: center;
  background-color:#fefefe;
  border-radius: 10px;
  
  
}
.footer{
  height:10vh;
  text-align: center;
  background-color:#0ef2f2;
  padding:20px;
  border-radius: 20px;
  font-size: 25px;

}

.h{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;

}

td{
  width:15px;

}

/*sidebar*/

.sidebar{
width: 120px;
background-color: rgb(255, 225, 147);
color: rgb(198, 56, 56);
padding: 20px;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li{
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar li:hover {
  color: rgb(217, 249, 250);
  background-color: rgb(255, 130, 40);
}